:root {
  --color1: #78A1BB;
  --color2: #4C4B63;
  --color3: #CE7DA5;
  --color4: #EBF5EE;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color2);
  background-color: var(--color4);
  font-family: Helvetica, Arial, sans-serif;
}

/* header START */
header {
  padding: 20px 35px;
  margin: 0;
  padding: 0;
  background-color: var(--color2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  width: 100%;
}

header a {
  text-decoration: none;
  color: var(--color3);
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: var(--color3);
  margin: 0;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 12;
  color: #ffffff;
}

header nav ul li a:hover {
  background:#8F95D3;
  color: #ffffff;
  border-radius: 23px;
  text-shadow: none;
}

.section-title {
  width: 500px;
  height: 400px;
  padding: 0;
  margin: 0 .5px;;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  text-align: right;
  border-right: solid;
  border-right: var(--color2);
}

h2 {
  display: flex;
  align-items: center;
}
/* header END */

/* about me START */
.section-about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 200px;
}

.about-me-info {
  display: block; /* was flex bc parent was flex */
}

.section-about-me h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color:var(--color2);
}

.section-about-me .about-me-info {
  width: 840px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.section-about-me img {
  margin-right: 15px;
  width: 150px;
  height: 150px;
  border-radius: 160px;
  padding: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.about-me p {
  height: 100px;
  padding: 0;
  margin: 0;
  display: block;
}

.bio {
  width: 300px;
}

/* about me END */

/* my work START */
.section-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-work h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color:var(--color2);
}

.section-work h3 {
  font-family: 'Poppins', sans-serif;
  padding: 10px 0 10px 5px;
  margin: 0;
  line-height: 1.3;
  font-size: 18pt;
  font-style: bold;
  color:var(--color2);
}

.section-work img {
  width: 100%;
  height: 300px;
  margin: 0;
}

.big-project {
  margin: 10px;
  height: 300px;
  width: 820px;
  position:relative;
  background-color: var(--color1);
  }

.big-project a {
  text-decoration: none;
  color:var(--color2);
}

.parent4projects {
  display: flex;
}

.parent2projects{
}

.project {
margin: 10px;
height: 300px;
width: 400px;
position:relative;
background-color: var(--color1);
}

#text {
  position: absolute; 
  width: 200px;
  height: 120px;
  left: 0px; 
  right: 20px; 
  top: 150px; 
  bottom: 10px; 
  background:var(--color1); 
  color:var(--color3);
}

.project p, .big-project p{
  padding: 10px 0 10px 5px;
  margin: 0;
  line-height: 1.3;
  color:var(--color2);
}


.section-work a:hover {
  content: "";
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
} 

/* my work END*/


/* resume START */
.section-resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-resume h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color:var(--color2);
  width: 132px;
}

.parent-for-resume {
  color: var(--color2);
  padding: 10px 0;
  margin: 5px 0px;
  width: 840px;
}

.resume p {
  margin: 4px 0;
}

.resume h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: var(--color2);
  margin: 5px 10px;
  display: inline;
}

.resume h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--color2);
  margin: 5px 0;
}

.resume-item {
  display: block;
  flex-direction: column;
  margin-bottom: 30px;
  width: 700px;
}

.resume ul {
  line-height: 1.5;
}
/*resume END*/


/* contact me START */
.section-contact-me h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color:var(--color2);
  width: 132px;
  text-align: right;
}

.section-contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  display: inline;
  padding: 10px 0;
  margin: 5px 0px;
  width: 840px;
}

.contact-info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact-info li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 12;
  color: var(--color2);
}

.contact-info a:hover {
  background:#8F95D3;
  color: #ffffff;
  border-radius: 23px;
}

.contact-info p, .contact-info a {
  line-height: 1;
  font-style: lighter;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*contact me END*/

/* feeder START */
footer {
  background-color:var(--color2);
  width: 100%;
  padding: 40px 35px;
  margin: 5px;
}

footer p {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #ffffff;
  text-align: center;
}
/*footer END*/


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
  }

  header h1 {
    width: 100%;
    text-align: center;
    display: block;
  }

  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .section-about-me, .section-work, .section-resume, .section-contact-me {
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 4px 0;
  }

  .section-resume h3, h4, ul, p {
    text-align: left;
  }

  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  .section-about-me {
    text-align: center;
    justify-content: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
  }

  header h1 {
    width: 100%;
    text-align: center;
    display: block;
  }

  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  header nav ul li a {
    font-size: 15px;
  }

  .section-about-me, .section-work, .section-resume, .section-contact-me {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 4px 0;
  }

  .section-resume h3, h4, ul, p {
    text-align: left;
  }

  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }

  .about-me-info {
    display: flex;
  }

  .section-about-me p {
    flex: 100%;  
  }

  .parent-for-all-projects {
    display: block;
    align-content: center;
  }

  .big-project {
    flex: 0 40%;
    justify-content: center;
  }

  .trainer {
    flex: 0 70%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }


  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
}