/* colors:
red: f73b3b
peachy cream: eec4b4
beige: f6dcbd
purple brown:594448
faded black: 211c22
*/
:root {
  --color1: #e5d224;
  --color2: #8F95D3;
  --color3: #3D0B37;
  --eggshell: #F1F7ED;
} 

* {
  /*box-sizing: border-box;*/
  margin-left: 10px;
}

body {
  padding: 0px;
  color: #3D0B37;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

/* <header> styles */
header {
  padding: 20px 35px;
  margin: 0;
  padding: 0;
  background-image: url("../images/night-mountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #8F95D3;
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color:#8F95D3;
  margin: 0;
}

header nav {
  margin: 7px 0;
  padding: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 12;
  color: #ffffff;
}

header nav ul li a:hover {
  background:#8F95D3;
  color: #ffffff;
  border-radius: 23px;
  text-shadow: none;
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: #3D0B37;
  margin-bottom: 5px;
  padding: 20px 0 20px 0;
  display: block;
  /*flex: 1;*/
}

/* about me styles */
.about-me {
  margin: 0;
}



/* my work styles */
.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex: wrap;
  justify-content: left;
}

.project {
  margin: 10px;
  height: 300px;
  width: 400px;
  background-color: #8F95D3;
  flex: column;
}

.projects h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: #3D0B37;
  margin-bottom: 5px;
  padding: 20px 0 20px 0;
}

.projects h3 {
  padding: 10px 0 10px 5px;
  margin: 0;
  line-height: 1.3;
  font-size: 18pt;
  font-style: bold;
  color: #3D0B37;
  display: flex;
  flex-wrap: wrap;
  float: inherit;
}

.projects p {
  padding: 10px 0 10px 5px;
  margin: 0;
  line-height: 1.3;
  color: #3D0B37;
}

.projects img {
  width: 100%;
  height: 200px;
  margin:0 ;
}

/* runbuddy project */
.runbuddy {
  margin: 10px;
  background-color: #8F95D3;
  width: 400px;
  height: 300px;
}

.runbuddy img {
  width: 100%;
  height: 200px;
}
/* resume styles */
.resume {
  background-color: #3D0B37;
}

/* contact me styles */
.contact-me {
  width: 300px;
  height: 300px;
  margin: 0;
  background-color: #e5d224;
  border-radius: 400px;
  position: relative;
}

.contact-me article {
  position: absolute;
  top: 23%;
  left: 32%;
  margin: -25px 0 0 -25px;
}

.contact-me h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #3D0B37;
    margin: 20px 0 20px 0;
}

.contact-me p, .contact-me a {
  line-height: .5;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #3D0B37;
}

.contact-me a:hover {
  width: 200px;
  background-color: #8F95D3;
  text-shadow: none;
  text-align: center;
}

/* feeder style */
footer {
  background-color: #FFFFFF;
  width: 100%;
  padding: 40px 35px;
}

footer h3 {
  margin: 0;
  padding: 10px 0 10px 0;
}