:root {
  --color1: #78A1BB;
  --color2: #4C4B63;
  --color3: #CE7DA5;
  --color4: #EBF5EE;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color2);
  background-color: var(--color4);
  font-family: Helvetica, Arial, sans-serif;
}

/* header  ----------------------------------*/
header {
  padding: 20px 35px;
  margin: 0;
  padding: 0;
  background-color: var(--color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  width: 100%;
}

header a {
  text-decoration: none;
  color: var(--color4);
}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: var(--color3);
  margin: 0 10px;
}

header nav {
  margin: 7px 0;
  flex-direction: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 12;
  color: #ffffff;
}

header nav ul li a:hover {
  background: var(--color1);
  color: #ffffff;
  border-radius: 23px;
}

.section-title {
  width: 500px;
  height: 400px;
  padding: 0;
  margin: 0 .5px;;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  text-align: right;
}

h2 {
  display: flex;
  align-items: center; 
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color:var(--color2);
  width: 170px;
  text-align: right;
}


/* hero  ----------------------------------*/
.hero {
  width: 100%;
  height: 300px;
  background-image: url("../images/paint-can.png");
  background-size: cover;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 25%;
}

/* about me  ----------------------------------*/
#about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 200px;
}

.about-me-info {
  display: block; /* was flex bc parent was flex */
}

#about-me .about-me-info {
  width: 840px;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#about-me img {
  margin-right: 15px;
  width: 150px;
  height: 150px;
  border-radius: 160px;
  padding: 1em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.about-me p {
  height: 100px;
  padding: 0;
  margin: 0;
  display: block;
}

/* my work ---------------------------------- */
#my-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#my-work h3 {
  font-family: 'Poppins', sans-serif;
  padding: 10px 5px;
  margin: 0;
  line-height: 1.3;
  font-size: 18pt;
  font-style: bold;
  color:white;
  text-align: left;
}

#my-work img {
  width: 100%;
  height: 280px;
  margin: 0;
  opacity: .5;
}

.big-project {
  margin: 10px;
  height: 400px;
  width: 700px;
  position:relative;
  }

.big-project a {
  text-decoration: none;
  color:white;
}

.parent4projects {
  display: flex;
}

.project {
  padding: 20px;
  height: 300px;
  width: 400px;
  position:relative;
}

.text-container {
  position: absolute; 
  width: 300px;
  height: 90px;
  left: 20px;
  right: 20px;
  top: 190px;
  bottom: 10px;
  background: var(--color2);
  /* box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.6); */
  /* border-radius: 5px; */
}

.project p, .big-project p{
  padding: 0 5px;
  margin: 0;
  line-height: 1.3;
  color:white;
}

#my-work a:hover {
  content: "";
  opacity: .5;
} 

/* resume ---------------------------------- */
#resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parent-for-resume {
  color: var(--color2);
  padding: 10px 0;
  margin: 5px 0px;
  width: 840px;
}

#resume p {
  margin: 4px 0;
}

#resume h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: var(--color2);
  display: inline;
  margin: 5px 0;
}

#resume h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--color2);
}

.resume-item {
  display: block;
  flex-direction: column;
  margin-bottom: 60px;
  width: 700px;
}

#resume p {
  margin: 5px 0;
}

#resume ul {
  line-height: 1.5;
}


/* contact me ---------------------------------- */
#contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info {
  display: inline;
  padding: 10px 0;
  margin: 5px 0px;
  width: 840px;
}

.contact-info ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contact-info li {
  padding: 5px 0;
  font-weight: lighter;
  font-size: 12;
  color: var(--color2);
  border-bottom: solid;
  border-width: 2px;
  border-color: var(--color2);
}

.contact-info a {
  font-size: 12;
  color: var(--color2);
}

.contact-info a:hover {
  background: var(--color1);
  color: #ffffff;
}

.contact-info p, .contact-info a {
  line-height: 1;
  font-style: lighter;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* feeder ---------------------------------- */
footer {
  background-color:var(--color2);
  width: 100%;
  padding: 40px 35px;
  margin: 5px;
}

footer p {
  margin: 0;
  padding: 10px 0 10px 0;
  color: #ffffff;
  text-align: center;
}

.flex-row {
  display: flex;
  width: 200px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    position: relative;
    display: block;
  }

  header h1 {
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
  }

  h2 {
    width: 160px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: right;
  }

  .flex-row { /*to make headings centered*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  header nav ul li a {
    font-size: 15px;
    justify-content: space-between;
  }

  .parent-for-resume {
    justify-content: center;
    margin-left: 10px;
  }

  #resume h3, h4, ul, p {
    text-align: left;
  }

  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  #about-me {
    text-align: center;
    justify-content: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;x
    display: block;
  }

  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  header nav ul li a {
    font-size: 15px;
  }

  h2 {
    flex: 0 100;
  }

  #about-me,
  #my-work,
  #resume,
  #contact-me {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 4px 0;
  }

  .parent4projects {
    flex: 1;
  }

  #resume h3, h4, ul, p {
    text-align: left;
  }

  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }

  .about-me-info {
    display: flex;
  }

  #about-me p {
    flex: 100%;  
  }

  .parent-for-all-projects {
    display: block;
    align-content: center;
  }

  .big-project {
    flex: 0;
    justify-content: center;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .about-me-info img p a {
    position: relative;
    margin: 4px 0;
    padding: 0;
  }


  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
}